@font-face {
  font-family: digital7;
  src: url(../assets/fonts/digital-7.mono.ttf);
}

.flex{
  display: flex;
}

.game {
  border: 2px solid black;
  padding: 4px;
  margin: 0 4px;
  margin-left: 40px;
  width: 800px;
}

.panel {
  position: absolute;
  top: 108px;
  left: 93px;
  width: 650px;
  height: 450px;
  border-radius: 30px;
  background: #EDEBE8;
}

.panel-content {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 620px;
  height: 420px;
}

.panel-center {
  text-align: center;
}

/* binaryLever */
.meter {
  padding-top: 50px;
}

.meter-label {
  color: red;
  white-space: pre;
  margin: 16px 0 0 0;
}

.readings{
  font: 40px digital7;
  white-space: pre;
  margin: 6px auto;
}

.slider {
  padding-top: 20px;
}

.slider p {
  font-size: 28px;
  margin: 12px 0;
  white-space: pre;
}

.slider-element {
  width: 200px;
  margin: 0 auto;
}

.ui-slider a {
  outline: none;
}

/* buttonSeries */
.displays, .display{
  display: inline-block;
}

.displays {
  margin: 0 18px;
}

.display {
  padding-top: 130px;
  font: 40px digital7;
  margin: 6px auto;
}

.buttonSeries {
  padding-top: 5px;
}

.passed {
  color: green;
}

/* circuit */
.circuit {
  padding-top: 60px;
}

.row {
  margin-left: 0;
}

.row p {
  display: inline-block;
  font: 18px monospace;
}

.vertical {
  margin: 0 9px;
}

.current {
  color: blue;
}

.on {
  color: green;
}

.broken {
  color: red;
}

.circuit-control {
  padding-top: 14px;
}

/* codex */
.keys-container {
  padding-top: 70px;
}

.keys {
  display: inline-block;
  color: gray;
  font-size: 18px;
  border: 2px solid gray;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
}

.manual {
  width: 380px;
  height: 533px;
  overflow: auto;
  border: 2px solid gray;
  padding: 4px;
  margin: 0 4px;
  background: black;
  color: #0F0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.manual-content {
  white-space: pre-wrap;
  font: 12px monospace;
  margin: 0;
}

.noise {
  color: gray;
}

#game_canvas {
  margin: 0;
}

.game-over {
  background-image: url('http://media.giphy.com/media/uSHMDTUL7lKso/giphy.gif');
  background-size: cover;
  background-position: center;
}
