<div class="container" id="control">
    
    <h2>
      {{title}}
    </h2>
        <p>Quick, we're running out of time!<br>I've tried everything but I can't read the manual!<br>
        Only you can read it and fix the problems before the reactor blows!<br>
        Head to one of the locations that needs fixing!
        </p> 
        <!-- either we have an interactive map you can click on or perhaps images
        of the location that you can click ? or anything else, for now just to
        link everything up, I will use buttons :) -->
  <div>
    <button><a href="/">Home</a></button>      
    <button class="area1"><a href="/#/area1">Area 1</a></button>
    <button class="area2"><a href="/#/area2">Area 2</a></button>
    <button class="area3"><a href="/#/area3">Area 3</a></button>
    <button class="area4"><a href="/#/area4">Area 4</a></button>
    <button class="area5"><a href="/#/area5">Area 5</a></button>
  </div>  


</div>
