<div class="panel-content" ng-show="puzzle.type === 'slider' && !gameOver">
  <div class="wrapper panel-center">
    <div class="meter">
      <p class="meter-label">Meter 1                        Meter 2</p>
      <p class="readings">{{puzzle.meterReadings[0]}}     {{puzzle.meterReadings[1]}}</p>
      <p class="meter-label">Meter 3                        Meter 4</p>
      <p class="readings">{{puzzle.meterReadings[2]}}     {{puzzle.meterReadings[3]}}</p>
    </div>
    <div class="slider">
      <p>O       I       II      III</p>
      <div class="slider-element" ui-slider min="0" max="3"
        ng-model="state" ng-change="checkSolution()"></div>
      <p ng-show="solved">Solved!</p>
    </div>
  </div>
</div>

<div class="panel-content game-over" ng-show="gameOver">
</div>

<div class="panel-content" ng-show="puzzle.type === 'sequence' && !gameOver">
  <div class="wrapper panel-center">
    <div>
      <div class="displays" ng-repeat="display in puzzle.displays">
        <p ng-class="['display', {'passed': state > $index}]">{{display}}<p>
      </div>
    </div>
    <div class="buttonSeries">
      <button ng-repeat="button in puzzle.buttons" ng-click="checkSolution(button)">
        {{button}}</button>
      <p>Refer to: buttonSequence{{puzzle.label}}(code)</p>
      <p>From left to right, use the function to figure out the sequence of buttons to push.</p>
      <p ng-show="solved">Solved!</p>
    </div>
  </div>
</div>

<div class="panel-content" ng-show="puzzle.type === 'circuit' && !gameOver">
  <div class="wrapper panel-center">
    <div class="circuit">
      <div ng-repeat="row in state track by $index">
        <div class="row" ng-if="$index === 0 || $index === 2 || $index === 4">
          <p ng-class="end" ng-if="row[0] === 3">*</p>
          <p ng-class="{'off': row[0] === 0, 'on': row[0] === 1, 'current': row[0] === 2}" ng-if="row[0] !== 3">O</p>
          <p ng-class="{'off': row[1] === 0, 'on': row[1] === 1, 'broken': row[1] === 2}">-</p>
          <p ng-class="{'off': row[2] === 0, 'on': row[2] === 1, 'current': row[2] === 2}">O</p>
          <p ng-class="{'off': row[3] === 0, 'on': row[3] === 1, 'broken': row[3] === 2}">-</p>
          <p ng-class="end" ng-if="row[4] === 3">*</p>
          <p ng-class="{'off': row[4] === 0, 'on': row[4] === 1, 'current': row[4] === 2}" ng-if="row[4] !== 3">O</p>
        </div>
        <div class="row" ng-if="$index === 1 || $index === 3">
          <p ng-class="['vertical', {'off': element === 0, 'on': element === 1, 'broken': element === 2}]"
            ng-repeat="element in row track by $index" ng-if="$index === 0 || $index === 2 || $index === 4">|</p>
        </div>
      </div>
    </div>
    <div class="circuit-control">
      <button ng-repeat="color in ['r', 'y', 'b', 'g']" ng-click="checkSolution(color)">{{color}}</button>
      <button ng-click="reset()">Reset</button>
      <p>Refer to: circuit{{puzzle.label}}(prev, current)</p>
      <p>Direct the electrical current from the upper left to the spot marked with an asterisk.<br>
      Use the function to figure out which direction each button would direct the current to.<br>
      prev is the color of the previous button you pressed.<br>
      Watch out for broken transistors (marked in red).<br>
      Do not backtrack or you'll cause a short in the circuit!</p>
      <p ng-show="solved">Solved!</p>
    </div>
  </div>
</div>

<div class="panel-content" ng-show="puzzle.type === 'password' && !gameOver">
  <div class="wrapper panel-center">
    <div class="password-display">Scrambled Password: {{display}}</div>
    <ul class="thumbnails dragdrop-list dragdrop-bank">
      <li class="dragdrop-listitem" ng-repeat="letter in list1">
        <div class="div-droppable" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}}">
          <div class="btn btn-info btn-draggable" ng-show="letter.label" data-drag="{{letter.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true}">{{letter.label}}</div>
        </div>
      </li>
    </ul>
    <ul class="thumbnails dragdrop-list dragdrop-solution">
      <li class="dragdrop-listitem dragdrop-label">Password: </li>
      <li class="dragdrop-listitem" ng-repeat="letter in list2">
        <div class="div-droppable" data-drop="true" ng-model='list2' jqyoui-droppable="{index: {{$index}}}">
          <div class="btn btn-info btn-draggable" ng-show="letter.label" data-drag="{{letter.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},placeholder:true}">{{letter.label}}</div>
        </div>
      </li>
    </ul>
    <button ng-click="checkSolution()">Submit</button>
    <p ng-show="solved">Solved!</p>
  </div>
</div>
