<div class="panel-content" ng-show="puzzle.type === 'binaryLever'">

<!--   <h3>ooh it's a binary lever!</h3>
  <h3 ng-repeat="reading in puzzle.readings">Meter {{$index + 1}}: {{reading}}</h3>
  <button ng-click="checkSolution(true)">true</button>
  <button ng-click="checkSolution(false)">false</button>
 -->
  <div class="wrapper panel-center">
    <h3>Knob!</h3>
    <knob knob-data="knobData.value"></knob>
    <p></p>
    <button ng-click="checkKnob()">Knob Check</button>
    <p></p>
    <p></p>
    <div>
      <rzslider rz-slider-model="sliderData.value"
                        rz-slider-floor="sliderData.floor"
                        rz-slider-ceil="sliderData.ceil"
                        rz-slider-always-show-bar="true"></rzslider>
    </div>
    <p></p>
    <button ng-click="checkSlider()">Slider Check</button>
  </div>
</div>
